<div class="container">
  <h2><%= @list.name %></h2>
  <p> <%= link_to 'add a new movie', new_list_bookmark_path(@list) %></p>
</div>

<div class="container">
  <% @list.movies.each do |movie| %>
  <div class="row justify-content-center">
      <div class="col-12 col-lg-6">
        <div class="card bg-light">
          <p><%= movie.title %></p>
          <div class="card-movie">
            <%= image_tag movie.poster_url, alt: movie.title, class: 'movie-img rounded-top w-25' %>
            <div class="card-movie-info">
              <p> <%= movie.comment %> </p>
            </div>
          </div>
        </div>
      </div>
  </div>
  <% end %>
</div>

<p><%= link_to 'back', lists_path %></p>
